/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* HTML element (SMACSS base) rules */
/**
 * @file
 * Normalize.css is intended to be used as an alternative to CSS resets.
 *
 * This file is a slight fork of these original sources:
 * - normalize.css v2.1.2 | MIT License | git.io/normalize
 * - normalize.scss v2.1.2 | MIT/GPLv2 License | bit.ly/normalize-with-compass
 *
 * It's suggested that you read the normalize.scss file and customise it to meet
 * your needs, rather then including the file in your project and overriding the
 * defaults later in your CSS.
 * @see http://nicolasgallagher.com/about-normalize-css/
 *
 * Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
 *       @see http://snook.ca/archives/html_and_css/no_css_reset/
 */
/**
 * HTML5 display definitions
 */
/* Correct `block` display not defined in IE 8/9. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

/* Correct `inline-block` display not defined in IE 8/9. */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* Address styling not present in IE 8/9. */
[hidden] {
  display: none;
}

/**
 * Base
 *
 * Instead of relying on the fonts that are available on a user's computer, you
 * can use web fonts which, like images, are resources downloaded to the user's
 * browser. Because of the bandwidth and rendering resources required, web fonts
 * should be used with care.
 *
 * Numerous resources for web fonts can be found on Google. Here are a few
 * websites where you can find Open Source fonts to download:
 * - http://www.fontsquirrel.com/fontface
 * - http://www.theleagueofmoveabletype.com
 *
 * In order to use these fonts, you will need to convert them into formats
 * suitable for web fonts. We recommend the free-to-use Font Squirrel's
 * Font-Face Generator:
 *   http://www.fontsquirrel.com/fontface/generator
 *
 * The following is an example @font-face declaration. This font can then be
 * used in any ruleset using a property like this:  font-family: Example, serif;
 *
 * Since we're using Sass, you'll need to declare your font faces here, then you
 * can add them to the font variables in the _init.scss partial.
 */
/*
@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: MiloWeb, Verdana, Geneva, sans-serif;
  /* 1 */
  font-size: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  line-height: 1.5em;
}

/* Remove default margin. */
body {
  margin: 0;
  padding: 0;
}

/* Component (SMACSS module) rules */
/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */
/**
 * Wireframes.
 */
.with-wireframes #header,
.with-wireframes #main,
.with-wireframes #content,
.with-wireframes #navigation,
.with-wireframes .region-sidebar-first,
.with-wireframes .region-sidebar-second,
.with-wireframes #footer,
.with-wireframes .region-bottom {
  outline: 1px solid #ccc;
}

/**
 * Accessibility features.
 */
/* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.element-invisible,
.element-focusable {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Turns off the element-invisible effect. */
.element-focusable:active, .element-focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 */
#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/**
 * Branding header.
 */
/* Wrapping link for logo. */
.header__logo {
  float: left;
  /* LTR */
  width: 100%;
  text-align: center;
  margin: 24px 0;
  margin: 1.5rem 0;
  padding: 0;
}

@media (min-width: 48em) {
  .header__logo {
    width: auto;
    text-align: left;
    margin: 40px 0;
    margin: 2.5rem 0;
  }
}
/* Logo image. */
.header__logo-image {
  vertical-align: bottom;
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* Wrapper for website name and slogan. */
.header__name-and-slogan {
  float: left;
}

/* The name of the website. */
.header__site-name {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

/* The link around the name of the website. */
.header__site-link:link, .header__site-link:visited {
  color: #000;
  text-decoration: none;
}
.header__site-link:hover, .header__site-link:focus {
  text-decoration: underline;
}

/* The slogan (or tagline) of a website. */
.header__site-slogan {
  margin: 0;
}

/* The secondary menu (login, etc.) */
.header__secondary-menu {
  float: right;
  /* LTR */
}

/**
 * Inline styles.
 */
/* List of links generated by theme_links(). */
.inline {
  display: inline;
  padding: 0;
}
.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 16px 0 0;
  padding: 0 1rem 0 0;
  /* LTR */
}

/* The inline field label used by the Fences module. */
span.field-label {
  padding: 0 16px 0 0;
  padding: 0 1em 0 0;
  /* LTR */
}

/**
 * "More" links.
 */
.more-link {
  text-align: right;
  /* LTR */
}

.more-help-link {
  text-align: right;
  /* LTR */
}

.more-help-link a {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA7UlEQVR42qWTPQqDQBCFcwSPkCNITpAj5AjeIm1uYpkyR7Cy2Mot7OwsBAsRwUKwmOwLGRle3EIy8PyBfZ/z3J2TiPylz8VWWZZpUB40BonRKyizaxkA88MYYiqCEgv4MTvnZJom0VqWRbz3FlJZgLYtqmEY1Lg9r+sKsIXcLSC3AC019H0vqLquLeC5AfiHYSGkcdAJimKIBQiJ4+CO92OAtm0FNc8zOjkMwE5Q63FAtbeg6zpAYvG8BWR7i5qmQYwY4MIHqYhE2DOPQWcGJBQF2XU72ZzyUeZ5GCNt5/hybJgYdAXsq5sOEE/jG6dC5IOqCXTmAAAAAElFTkSuQmCC');
  background-position: 0 50%;
  /* LTR */
  background-repeat: no-repeat;
  padding: 1px 0 1px 20px;
  /* LTR */
  padding: 0.06rem 0 0.06rem 1.25rem;
}

/**
 * Pager.
 */
/* A list of page numbers when more than 1 page of content is available. */
.pager {
  clear: both;
  padding: 0;
  text-align: center;
}

.pager-item,
.pager-first,
.pager-previous,
.pager-next,
.pager-last,
.pager-ellipsis, .pager-current {
  display: inline;
  padding: 0 8px;
  padding: 0 0.5rem;
  list-style-type: none;
  background-image: none;
}

.pager-item,
.pager-first,
.pager-previous,
.pager-next,
.pager-last,
.pager-ellipsis {
  /* A concatenation of several list items using an ellipsis. */
}

/* The current page's list item. */
.pager-current {
  font-weight: bold;
}

/**
 * Marker.
 */
/* The "new" or "updated" marker. */
.new,
.update {
  color: #c00;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
}

/**
 * Unpublished note.
 */
/* The word "Unpublished" displayed underneath the content. */
.unpublished {
  height: 0;
  overflow: visible;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
  color: #d8d8d8;
  font-size: 75px;
  font-size: 4.7rem;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  /* A very nice CSS3 property. */
  word-wrap: break-word;
}

/**
 * Comments.
 */
/* Wrapper for the list of comments and its title. */
.comments {
  margin: 1.5em 0;
}

/* Preview of the comment before submitting new or updated comment. */
.comment-preview {
  /* Drupal core will use a #ffffea background. See #1110842. */
  background-color: #ffffea;
}

/* Wrapper for a single comment. */
.comment {
  /* Comment's permalink wrapper. */
}
.comment .permalink {
  text-transform: uppercase;
  font-size: 75%;
}

/* Nested comments are indented. */
.indented {
  /* Drupal core uses a 25px left margin. */
  margin-left: 30px;
  /* LTR */
}

/**
 * Forms.
 */
/* Wrapper for a form element (or group of form elements) and its label. */
.form-item {
  margin: 1.5em 0;
  /* Pack groups of checkboxes and radio buttons closer together. */
  /* Form items in a table. */
  /* Highlight the form elements that caused a form submission error. */
  /* The descriptive help text (separate from the label). */
}
.form-checkboxes .form-item, .form-radios .form-item {
  /* Drupal core uses "0.4em 0". */
  margin: 0;
}
tr.odd .form-item, tr.even .form-item {
  margin: 0;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}
.form-item .description {
  font-size: 14px;
  font-size: 0.875rem;
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 38px;
  margin-left: 2.375rem;
}

/* The part of the label that indicates a required field. */
.form-required {
  color: #c00;
}

/* Labels for radios and checkboxes. */
label.option {
  display: inline;
  font-weight: normal;
}

/* Buttons used by contrib modules like Media. */
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/* Password confirmation. */
.password-parent,
.confirm-parent {
  margin: 0;
}

/* Drupal's default login form block. */
#user-login-form {
  text-align: left;
  /* LTR */
}

/* Drupal UI components */
div.contextual-links-wrapper ul.contextual-links,
#main div.contextual-links-wrapper ul.contextual-links,
footer#footer_site div.contextual-links-wrapper ul.contextual-links {
  display: none;
  /*resets display for contextual links js behavior*/
  float: none;
}
div.contextual-links-wrapper li,
div.contextual-links-wrapper a:not(.contextual-links-trigger),
#main div.contextual-links-wrapper li,
#main div.contextual-links-wrapper a:not(.contextual-links-trigger),
footer#footer_site div.contextual-links-wrapper li,
footer#footer_site div.contextual-links-wrapper a:not(.contextual-links-trigger) {
  border: 0 none;
  float: none;
  display: inherit;
  text-align: left;
}

/**
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */
/* OpenID creates a new ul above the login form's links. */
.openid-links {
  /* Position OpenID's ul next to the rest of the links. */
  margin-bottom: 0;
}

/* The "Log in using OpenID" and "Cancel OpenID login" links. */
.openid-link,
.user-link {
  margin-top: 1.5em;
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: -20px;
  /* LTR */
  margin-left: -1.25rem;
}

#user-login ul {
  margin: 1.5em 0;
}

/**
 * Drupal admin tables.
 */
form th {
  text-align: left;
  /* LTR */
  padding-right: 16px;
  padding-right: 1rem;
  /* LTR */
  border-bottom: 3px solid #ccc;
}
form tbody {
  border-top: 1px solid #ccc;
}
form table ul {
  margin: 0;
}

tr.even,
tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}

tr.even {
  background-color: #fff;
}

/* Markup generated by theme_tablesort_indicator(). */
td.active {
  background-color: #ddd;
}

/* Center checkboxes inside table cell. */
td.checkbox,
th.checkbox {
  text-align: center;
}

/* Drupal core wrongly puts this in system.menus.css. Since we override that, add it back. */
td.menu-disabled {
  background: #ccc;
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list. */
#autocomplete .selected {
  background: #0072b9;
  color: #fff;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
html.js .collapsible .fieldset-legend {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABJJREFUeJxj+MdQw2DBIMAABgAUsAHD3c3BpwAAAABJRU5ErkJggg==');
  background-position: 5px 65%;
  /* LTR */
  background-repeat: no-repeat;
  padding-left: 16px;
  /* LTR */
  padding-left: 1rem;
}
html.js .collapsed .fieldset-legend {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABFJREFUCB1jVmCGQClmEWYOAAZ8AMy3HPLXAAAAAElFTkSuQmCC');
  /* LTR */
  background-position: 5px 50%;
  /* LTR */
}
.fieldset-legend .summary {
  color: #999;
  font-size: 14px;
  font-size: 0.875rem;
  margin-left: 8px;
  margin-left: 0.5rem;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

.tabledrag-toggle-weight {
  font-size: 14px;
  font-size: 0.875em;
}

/**
 * TableSelect behavior.
 *
 * @see tableselect.js
 */
tr.selected td {
  background: #ffc;
}

/**
 * Progress bar.
 *
 * @see progress.js
 */
.progress {
  font-weight: bold;
}
.progress .bar {
  background: #ccc;
  border-color: #666;
  margin: 0 0.2em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.progress .filled {
  background-color: #0072b9;
  background-image: url('../images/progress.gif?1443026377');
}

/*Misc. Helper classes*/
/*.pull-left Floats an element to the leftFloatsTry it*/
.pull-left {
  float: left !important;
}

/*.pull-right Floats an element to the rightFloatsTry it*/
.pull-right {
  float: right !important;
}

/*.relative Adds position relative*/
.relative {
  position: relative !important;
}

/*.absolute Adds position absolute*/
.absolute {
  position: absolute !important;
}

/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
/**
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */
@media print {
  /* Underline all links. */
  a:link,
  a:visited {
    text-decoration: underline !important;
    /* Don't underline header. */
  }
  a:link.header__site-link,
  a:visited.header__site-link {
    text-decoration: none !important;
  }

  #content {
    /* Add visible URL after links. */
    /* Only display useful links. */
    /* Add visible title after abbreviations. */
  }
  #content a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    content: "";
  }
  #content abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Un-float the content. */
  #content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Turn off any background colors or images. */
  body,
  #page,
  #main,
  #content {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  /* Hide sidebars and nav elements. */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    visibility: hidden;
    display: none;
  }
}
/* OPTIONAL UA ZEN COMPONENTS - COMMENT OUT WHAT YOU DON'T NEED */
#block-search-form {
  float: none;
  clear: both;
  margin: 0;
}
#block-search-form .form-item {
  display: inline;
}
#block-search-form .form-item input {
  border-collapse: collapse;
  width: 13.8rem;
  font-family: MiloWeb, sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1em;
  border: 0;
  background-color: #eef1f1;
  color: #333333;
  padding: 8px;
  padding: .5rem;
  outline: 0;
}
#block-search-form .form-actions {
  display: inline;
}
#block-search-form .form-actions input[type="submit"] {
  text-indent: -9999em;
  background: url("../images/search-icon.png");
  width: 40px;
  height: 40px;
  width: 2.5rem;
  height: 2.5rem;
  background-size: 24px 24px;
  background-size: 1.5rem 1.5rem;
  border: 0;
  background-repeat: no-repeat;
  background-position: 9px 7px;
  outline: 0;
}
#block-search-form form {
  border: 1px solid #d3d7de;
  background-color: #eef1f1;
  color: #333333;
  width: 272px;
  width: 17rem;
  margin: 0 auto 24px;
  margin: 0 auto 1.5rem;
}

@media screen and (min-width: 48em) {
  #block-search-form {
    padding-top: 16px;
    padding-top: 1rem;
    float: right;
    clear: right;
  }
}
@media (max-width: 767px) {
  #block-search-form {
    width: 100%;
    float: none;
    clear: both;
  }
}
.dl-menuwrapper button {
  background: #002147;
}

.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul {
  background: #002147;
}

.dl-menuwrapper {
  max-width: none;
}

.block.mission-statement {
  background: #ecf4f3 url("../images/mission-bg.jpg") repeat-x 0 0;
  text-align: center;
  padding: 64px 0;
  padding: 4rem 0;
  margin: 0;
}
.block.mission-statement h3 {
  color: #0c234b;
  font-size: 28px;
  font-size: 1.8rem;
  font-family: MiloSerifWeb, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-transform: none;
  line-height: 1.4;
}
.block.mission-statement a:not(.contextual-links-trigger) {
  display: block;
  padding: 16px;
  padding: 1rem;
  font-size: 18px;
  font-size: 1.125rem;
  color: #ab0520;
  border-bottom: 2px solid #076873;
  text-transform: uppercase;
  width: 220px;
  margin: 16px auto 0;
  margin: 1rem auto 0;
}

@media (min-width: 48em) {
  .block.mission-statement h3 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
/*** Views Pager ***/
.item-list ul.pager {
  border-top: 2px solid #eef1f1;
  background: none 0 0 scroll no-repeat transparent;
  text-transform: uppercase;
  border: 0 none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  list-style: none;
  text-align: inherit;
}
.item-list ul.pager:after {
  display: block;
  content: "\0020";
  clear: both;
}
.item-list ul.pager li {
  background: none 0 0 scroll no-repeat transparent;
  text-transform: uppercase;
  border: 0 none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #555;
  white-space: nowrap;
  margin: 0 0.8em;
  list-style: none;
}
.item-list ul.pager li a,
.item-list ul.pager li a:link,
.item-list ul.pager li a:visited {
  font-size: 14px;
  font-size: 0.9rem;
  font-weight: bold;
  background: none 0 0 scroll no-repeat transparent;
  color: #ab0520;
}
.item-list ul.pager li a:focus,
.item-list ul.pager li a:hover,
.item-list ul.pager li a:active {
  background: none 0 0 scroll no-repeat transparent;
}

/* FOOTER */
footer#footer_site h2 {
  font: normal normal bold 0.88em MiloWeb, Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #333;
}
footer#footer_site .footer-logo {
  margin: 0 auto 40px;
  margin: 0 auto 2.5rem;
  max-width: 400px;
}
footer#footer_site .footer-logo img {
  max-height: 100px;
}
footer#footer_site > .container {
  border-bottom: 1px solid #8E8C85;
  position: relative;
  padding: 0 0 16px;
  padding: 0 0 1rem;
}
footer#footer_site ul.menu {
  display: block;
  margin: 0;
  padding: 16px 0 0;
  padding: 1rem 0 0;
  text-align: center;
  float: none;
}
footer#footer_site ul.menu:after {
  content: "\0020";
  display: block;
  clear: both;
}
footer#footer_site ul.menu > li {
  display: inline-block;
  list-style: none;
  padding: 0 12px;
  padding: 0 .75rem;
  border-right: 1px solid #a8a69d;
}
footer#footer_site ul.menu > li.last {
  border-right: 0;
}
footer#footer_site .column-menu {
  display: block;
  padding-top: 24px;
  padding-top: 1.5rem;
  border-top: 1px solid #a8a69d;
}
footer#footer_site .column-menu:first-child {
  border-top: 0 none;
}
footer#footer_site .column-menu ul.menu li {
  display: block;
  float: none;
  border: 0 none;
  padding: 0;
  margin-bottom: 11px;
  margin-bottom: 0.7rem;
  line-height: 1.2;
}
footer#footer_site .column-menu ul.menu li a, footer#footer_site .column-menu ul.menu li a:link, footer#footer_site .column-menu ul.menu li a:visited {
  text-decoration: none;
  font-weight: normal;
}
footer#footer_site .column-menu ul.menu li a:focus, footer#footer_site .column-menu ul.menu li a:hover, footer#footer_site .column-menu ul.menu li a:active {
  color: #2A6496;
}
footer#footer_site #footer_sub .container {
  padding-top: 8px;
  padding-top: 0.5rem;
}
footer#footer_site #footer_sub .container > * {
  font-size: 15px;
  font-size: 0.96rem;
}
footer#footer_site #footer_sub .container p {
  text-align: center;
}

@media (min-width: 48em) {
  footer#footer_site .footer-content {
    clear: both;
  }
  footer#footer_site .column-menu {
    display: inline-block;
    vertical-align: top;
    border: 0 none;
    width: 49%;
  }
  footer#footer_site .column-menu h2 {
    text-align: left;
    padding: 0 32px;
    padding: 0 2rem;
  }
  footer#footer_site .column-menu ul.menu {
    padding: 16px 32px 0;
    padding: 1rem 2rem 0;
    text-align: left;
  }
}
@media (min-width: 60em) {
  footer#footer_site ul.menu {
    float: right;
  }
  footer#footer_site .footer-logo {
    float: left;
    margin: 0 16px 16px 0;
    margin: 0 1rem 1rem 0;
  }
  footer#footer_site .footer-content {
    clear: none;
    text-align: right;
  }
  footer#footer_site .column-menu {
    position: relative;
    padding: 0 0 0 16px;
    padding: 0 0 0 1rem;
    margin: 0 0 0 16px;
    margin: 0 0 0 1rem;
    border-top: 0 none;
    border-left: 1px solid #a8a69d;
    display: inline-block;
    vertical-align: top;
    min-height: 16em;
    max-width: 14.5%;
  }
  footer#footer_site .column-menu h2 {
    padding: 0;
  }
  footer#footer_site .column-menu ul.menu {
    width: 100%;
    padding: 16px 0;
    padding: 1rem 0;
  }
  footer#footer_site .column-menu ul.menu a {
    font-size: 14px;
    font-size: 0.875rem;
  }

  #footer_sub .container p {
    text-align: left;
  }
}
@media (min-width: 60em) and (max-width: 75em) {
  footer#footer_site .footer-logo {
    max-width: 300px;
  }
}
/* SIDE MENUS */
@media screen and (min-width: 60em) {
  .sidebar ul.menu {
    list-style: none outside none;
    padding: 0;
    margin: 0;
  }
  .sidebar ul.menu li {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    display: block;
  }
  .sidebar ul.menu li > a,
  .sidebar ul.menu li > a:link,
  .sidebar ul.menu li > a:visited {
    position: relative;
    padding: 10px 16px;
    padding: 0.625rem 1rem;
    text-decoration: none;
    font-weight: normal;
    display: block;
    color: #333;
  }

  .region-sidebar-first .menu > li > a:hover,
  .region-sidebar-first .menu > li > a:focus,
  .region-sidebar-first .menu > li.active a,
  .region-sidebar-first .menu > li a.active {
    background: url("../images/sidebar-menu-chevron-left.png") no-repeat scroll 100% center/30px 100% #dee8e7;
    border-bottom: 0 solid rgba(0, 0, 0, 0);
    color: #076873;
    text-decoration: none;
  }

  .region-sidebar-second .menu > li > a:hover,
  .region-sidebar-second .menu > li > a:focus,
  .region-sidebar-second .menu > li.active a,
  .region-sidebar-second .menu > li a.active {
    background: url("../images/sidebar-menu-chevron-right.png") no-repeat scroll 0 center/30px 100% #dee8e7;
    border-bottom: 0 solid rgba(0, 0, 0, 0);
    color: #076873;
    text-decoration: none;
  }
}
