// @import url("https://brand.arizona.edu/sites/default/files/ua-banner/ua-web-branding/ua-fonts/milo.css");

// a {
// 	color: #ab0520;
// 	text-decoration: none;
// 	font-weight: bold;
// 	text-transform: uppercase;
// }
/*
#header_site {
	ul.menu {
		padding: 0;
		margin: 0;
		border: 0 none;
		text-align: right;
		li {
			list-style: none;
			display: inline-block;
			padding: 0 .6rem;
			text-align: left;
			a {
				font-size: 1rem;
				text-decoration: none;
				color: #6b868d;
				text-transform: none;
				font-family: MiloWeb-Text, sans-serif;
				font-weight: normal;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}*/

/*!
 * Bootstrap v3.3.2 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/* Import Milo Fonts */
@import url("https://brand.arizona.edu/sites/default/files/ua-banner/ua-web-branding/ua-fonts/milo.css");

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
body {
  font-family: MiloWeb, Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #395180;
  text-decoration: none;
  font-weight: bold;
}
a:hover,
a:focus {
  /*color: #63000B;*/
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a, button {
  -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
hr {
  margin-top: 20px;
  margin-top: 1.25rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  border: 0;
  border-top: 1px solid #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

h2,
.h2,
h3,
.h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1,
.h1 {
  font-size: 50px;
  font-size: 3.125rem;
  font-family: MiloSerifWeb, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-transform: uppercase;
  color: #49595E;

}
h2,
.h2 {
  font-size: 36px;
  font-size: 2.25rem;
  font-family: MiloSerifWeb, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  /*text-transform: uppercase;*/
  color: #49595E;
}
h3,
.h3 {
  font-size: 24px;
  font-size: 1.5rem;
  color: #395180;
  font-weight: 700;
  text-transform: uppercase;
}
h4,
.h4 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
}
h5,
.h5 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}
h6,
.h6 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
}
p {
  margin: 0 0 16px;
  margin: 0 0 1rem;
}
.lead {
  margin-bottom: 20px;
  margin-bottom: 1.2rem;
  font-size: 18px;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  color: #49595E;
}
@media (min-width: 768px) {
  .lead {
    font-size: 24px;
    font-size: 1.4rem;
  }
}
small,
.small {
  font-size: 85%;
}
mark,
.mark {
  padding: 3px;
  padding: .2rem;
  background-color: #fcf8e3;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
code {
  padding: 2px 4px;
  padding: 0.125rem 0.25rem;
  font-size: 90%;
  color: #ab0520;
  background-color: #f9f2f4;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  padding-left: 16px;
  padding-left: 1rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
ul.triangle li {
  padding-left: 5px;
  padding-left: 0.3rem;
  position: relative;
  list-style: none;
}
ul.triangle li:before {
  position: absolute;
  top: 8px;
  top: 0.5rem;
  left: -15px;
  left: -0.9375rem;
  width: 0;
  height: 0;
  border-top: 8px solid #395180;
  border-left: 8px solid rgba(0, 0, 0, 0);
  content: '';
}
ul.triangle a {
  color: #395180;
}
dl {
  margin-top: 0;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 48em) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
    margin-left: 11.25rem;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}

table {
  background-color: transparent;
}
caption {
  padding: 8px 0;
  padding: 0.5rem 0rem;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
/* Catstrap Table */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  border: 1px solid #fff;
  font-size: 18px;
  font-size: 1.125rem;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 10px;
  padding: 0.625rem;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #fff;
}
table > thead > tr > th {
  vertical-align: bottom;
  background: #49595e;
  color: #fff;
  font-size: 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-left: 12px;
  padding-left: 0.75rem;
  line-height: 1;
}
table > thead > tr > th,
table > thead > tr > td {
  border-bottom-width: 1px;
}
table > tbody > tr > td {
  background: #fff;
  color: #49595e;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0 none;
}
table > tbody + tbody {
  border-top: 2px solid #ddd;
}
table table {
  background-color: #fff;
}
table > tbody > tr:nth-of-type(odd) > td, table > tbody > tr:nth-of-type(odd) > th {
  background-color: #EEF1F1;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #546581;
  color: #fff;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
@media screen and (max-width: 47.9em) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > table {
    margin-bottom: 0;
  }
  .table-responsive > table > thead > tr > th,
  .table-responsive > table > tbody > tr > th,
  .table-responsive > table > tfoot > tr > th,
  .table-responsive > table > thead > tr > td,
  .table-responsive > table > tbody > tr > td,
  .table-responsive > table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > table {
    border: 0;
  }
  .table-responsive > table > thead > tr > th:first-child,
  .table-responsive > table > tbody > tr > th:first-child,
  .table-responsive > table > tfoot > tr > th:first-child,
  .table-responsive > table > thead > tr > td:first-child,
  .table-responsive > table > tbody > tr > td:first-child,
  .table-responsive > table > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > table > thead > tr > th:last-child,
  .table-responsive > table > tbody > tr > th:last-child,
  .table-responsive > table > tfoot > tr > th:last-child,
  .table-responsive > table > thead > tr > td:last-child,
  .table-responsive > table > tbody > tr > td:last-child,
  .table-responsive > table > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > table > tbody > tr:last-child > th,
  .table-responsive > table > tfoot > tr:last-child > th,
  .table-responsive > table > tbody > tr:last-child > td,
  .table-responsive > table > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  color: #49595E;
  font-size: 24px;
  font-size: 1.5rem;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin: 0.25rem 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
output {
  display: block;
  padding-top: 7px;
  padding-top: 0.4375rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #555;
}
.form-control {
  display: block;
  width: 50%;
  height: 40px;
  height: 2.5rem;
  padding: 6px 12px;
  padding: 0.375rem 0.75rem;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.42857143;
  color: #647980;
  background-color: #eef1f1;
  background-image: none;
  border: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
@media (max-width: 48em) {
  .form-control {
    width: 100%;
  }
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    line-height: 2.125;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 1.875;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 2.875;
  }
}
.form-group {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin: 10px 0;
  margin: 0.625rem 0rem;
}
.radio label,
.checkbox label {
  min-height: 20px;
  min-height: 1.25rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  font-size: 16px;
  font-size: 1rem;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
  margin-left: -1.25rem;
  /*display: none;*/
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  padding-left: 1.25rem;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
  margin-left: 0.625rem;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-right: 0;
  padding-left: 0;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.input-lg + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.input-sm + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #3c763d;
}
.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
}
.has-success .form-control-feedback {
  color: #3c763d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #8a6d3b;
}
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #8a6d3b;
}
.has-warning .form-control-feedback {
  color: #8a6d3b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.has-error .form-control-feedback {
  color: #a94442;
}
.has-feedback label ~ .form-control-feedback {
  top: 25px;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 48em) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 0;
  letter-spacing: 0.05em;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-red {
  color: #fff;
  background-color: #ab0520;
}
.btn-red:hover,
.btn-red:focus,
.btn-red.focus,
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
  color: #fff;
  background-color: #CC665E;
}
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
  background-image: none;
}
.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled.focus,
.btn-red[disabled].focus,
fieldset[disabled] .btn-red.focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
  background-color: #ab0520;
}
.btn-blue {
  color: #fff;
  background-color: #0C234B;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue.focus,
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  color: #fff;
  background-color: #395180;
}
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  background-image: none;
}
.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
fieldset[disabled] .btn-blue.focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #0C234B;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 26px;
  padding: 0.625rem 1.625rem;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3333333;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  padding: 0.3rem 0.625rem;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
  margin-top: 0.3125rem;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-arrow:after {
  content: " »";
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
/*.collapse {
  display: none;
  visibility: hidden;
}*/
.collapse.in {
  display: block;
  visibility: visible;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
       -o-transition-property: height, visibility;
          transition-property: height, visibility;
}

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  height: 2.875rem;
  padding: 10px 16px;
  padding: 0.625rem 1rem;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  height: 2.875rem;
  line-height: 2.875;
}
textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn,
select[multiple].input-group-lg > .form-control,
select[multiple].input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-btn > .btn {
  height: auto;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  height: 1.875rem;
  padding: 5px 10px;
  padding: 0.3rem 0.625rem;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  height: 1.875rem;
  line-height: 1.875;
}
textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn,
select[multiple].input-group-sm > .form-control,
select[multiple].input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-btn > .btn {
  height: auto;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  padding: 0.3rem 0.625rem;
  font-size: 12px;
  font-size: 0.75rem;
  border-radius: 3px;
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  padding: 0.625rem 1rem;
  font-size: 18px;
  font-size: 1.125rem;
  border-radius: 6px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn > .btn + .btn {
  margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-left: -1px;
}
.breadcrumb {
  padding: 8px 16px 8px 0;
  padding: 0.5rem 1rem 0.5rem 0;
  margin-bottom: 0;
  list-style: none;
}
.breadcrumb a {
  color: #666;
  font-weight: normal;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  padding: 0 0.3rem;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #333;
}
.label {
  display: inline;
  padding: 3px 10px 5px;
  padding: 0.2rem 0.625rem 0.3rem;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #286090;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 47.9em) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
  .visible-xs-block {
    display: block !important;
  }
  .visible-xs-inline {
    display: inline !important;
  }
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 48em) and (max-width: 61.9em) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
  .visible-sm-block {
    display: block !important;
  }
  .visible-sm-inline {
    display: inline !important;
  }
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 62em) and (max-width: 74.9em) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
  .visible-md-block {
    display: block !important;
  }
  .visible-md-inline {
    display: inline !important;
  }
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 75em) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
  .visible-lg-block {
    display: block !important;
  }
  .visible-lg-inline {
    display: inline !important;
  }
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 47.9em) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 48em) and (max-width: 61.9em) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 62em) and (max-width: 74.9em) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 75em) {
  .hidden-lg {
    display: none !important;
  }
}
@media (max-width: 29.9em) {
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
  .hidden-print {
    display: none !important;
  }
}
/* Layout - UA Header */
#header_site #site_identifier a {
  float: left;
  margin: 24px 0;
  margin: 1.5rem 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
#header_site #site_identifier a img {
  width: 80%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}
@media (min-width: 48em) {
  #header_site #site_identifier a {
    float: left;
    margin: 40px;
    margin: 2.5rem 0;
    padding: 0;
    width: auto;
  }
  #header_site #site_identifier a img {
    width: 100%;
  }
}
#header_site #utility_links {
  display: none;
  margin: 16px 0 24px 0;
  margin: 1rem 0 1.5rem 0;
  background-color: transparent;
}
@media (min-width: 48em) {
  #header_site #utility_links {
    display: block;
  }
}
#header_site #utility_links ul {
  padding: 0;
  margin: 0;
  border: 0 none;
  text-align: right;
}
#header_site #utility_links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  padding: 0 .625rem;
  text-align: left;
}
#header_site #utility_links ul li a {
  font-size: 16px;
  font-size: 1rem;
  text-decoration: none;
  color: #6b868d;
  text-transform: none;
  font-family: MiloWeb-Text, sans-serif;
  font-weight: normal;
}
#header_site #utility_links ul li a:hover {
  text-decoration: underline;
}
#header_site #search {
  float: right;
}
#header_site #search .form-item {
  display: inline;
}
#header_site #search .form-item input {
  border-collapse: collapse;
  width: 220px;
  width: 13.8rem;
  font-family: MiloWeb, sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1;
  border: 0;
  background-color: #eef1f1;
  color: #333333;
  padding: 8px;
  padding: 0.5rem;
  outline: 0;
}
#header_site #search .form-actions {
  display: inline;
}
#header_site #search .form-actions input[type="submit"] {
  text-indent: -9999em;
  background: url("../img/search-icon.png");
  width: 40px;
  height: 40px;
  width: 2.5rem;
  height: 2.5rem;
  background-size: 24px 24px;
  background-size: 1.5rem 1.5rem;
  border: 0;
  background-repeat: no-repeat;
  background-position: 9px 7px;
  outline: 0;
}
#header_site #search form {
  border: 1px solid #d3d7de;
  background-color: #eef1f1;
  color: #333333;
  width: 272px;
  width: 17rem;
  margin: 0 auto 24px;
  margin: 0 auto 1.5rem;
}
@media (max-width: 47.9em) {
  #header_site #search {
    width: 100%;
    float: none;
    clear: both;
  }
}
/* End Layout - Header */
/* Layout - Menu */
#main_nav {
  clear: both;
}
#main_nav > ul {
  display: block;
  list-style: none;
  border-top: 2px solid #eef1f1;
  margin: 0;
  padding: 0;
}
#main_nav > ul > li {
  list-style: none;
  display: inline-block;
  padding: 0 3rem 0 .6rem;
  text-align: left;
  float: left;
}
#main_nav > ul > li.last {
  padding: 0 10px;
  padding: 0 .625rem;
}
#main_nav > ul > li > a {
  color: #395180;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
  font-size: 1.2rem;
  letter-spacing: 0.03em;
  padding: 16px 0;
  padding: 1rem 0;
  float: left;
}
#main_nav > ul > li > a:hover,
#main_nav > ul > li > a:focus  {
  text-decoration: none;
  color: #7B89AE;
}
/* END Layout - Menu */
/* Layout - Sidebar */
#sidebar_first .quick-links h3 {
  margin-top: 38px;
  margin-top: 2.4rem;
}
#sidebar_first .quick-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar_first .quick-links ul li {
  line-height: 1;
}
#sidebar_first .quick-links ul li a {
  display: block;
  color: #333;
  padding: 8px 12px 8px 8px;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  font-weight: normal;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
#sidebar_first .quick-links ul li a:hover {
  text-decoration: none;
  color: #0d6772;
  background: #dbe8ea url("../img/sidebar-menu-chevron.png") no-repeat 100% 50%;
}
/* END Layout - Sidebar */
/* Layout - Footer */
footer#footer_site {
  margin-top: 40px;
  margin-top: 2.5rem;
  background: #e6e3d9;
  padding: 40px 0;
  padding: 2.5rem 0;
}
footer#footer_site a {
  color: #333;
  text-decoration: underline;
}
footer#footer_site a:hover {
  color: #777;
}
footer#footer_site #footer_logo {
  text-align: center;
}
footer#footer_site #footer_logo img {
  max-width: 360px;
  width: 80%;
  height: auto;
  margin: 0 auto 16px;
  margin: 0 auto 1rem;
}
@media (min-width: 62em) {
  footer#footer_site #footer_logo img {
    float: left;
    margin: 0;
  }
}

footer#footer_site ul {
  display: block;
  margin: 0;
  padding: 16px 0 0;
  padding: 1rem 0 0;
  text-align: center;
}
footer#footer_site ul > li {
  display: inline-block;
  list-style: none;
  padding: 0 12px;
  padding: 0 .75rem;
  border-right: 1px solid #a8a69d;
}
footer#footer_site ul > li.last {
  border-right: 0;
}
footer#footer_site ul > li a {
  color: #333;
}
footer#footer_site #footer_copyright {
  clear: both;
  border-top: 1px solid #a8a69d;
  margin-top: 32px;
  margin-top: 2rem;
  float: left;
  width: 100%;
  padding-top: 16px;
  padding-top: 1rem;
}
@media (min-width: 62em) {
  footer#footer_site ul {
    float: right;
    text-align: right;
  }
  footer#footer_site ul > li {
    float: left;
  }
}
/* END Layout - Footer */

/* Layout */
#footer_site {
  background-color: #cfccc0;
  padding: 32px 0;
  padding: 2rem 0;
}
#sidebar_first .quick-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar_first .quick-links ul li {
  line-height: 1;
}
#sidebar_first .quick-links ul li a {
  display: block;
  color: #333;
  padding: 8px 12px 8px 8px;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
}
#sidebar_first .quick-links ul li a:hover {
  text-decoration: none;
  color: #0d6772;
  background: #dbe8ea url("../images/sidebar-menu-chevron.png") no-repeat 100% 50%;
}